name: Docker
on: [push]
jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        env:
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
          DOCKER_HUB_USERNAME: spacez320
        run: |
          docker login --password $DOCKER_HUB_TOKEN --username $DOCKER_HUB_USERNAME
          docker build backend \
            --file backend/Containerfile \
            --tag spacez320/matthewandhilary-backend:latest
          docker push spacez320/matthewandhilary-backend:latest

  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        env:
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
          DOCKER_HUB_USERNAME: spacez320
        run: |
          docker login --password $DOCKER_HUB_TOKEN --username $DOCKER_HUB_USERNAME
          docker build frontend \
            --file frontend/Containerfile \
            --tag spacez320/matthewandhilary:latest
          docker push spacez320/matthewandhilary:latest

  deploy:
    runs-on: ubuntu-latest
    needs: [build-backend, build-frontend]
    steps:
      - uses: actions/checkout@v3
      - name: Deploy
        env:
          KUBECONFIG_CONTENTS: ${{ secrets.KUBECONFIG }}
        run: |
          mkdir .kube
          echo "${KUBECONFIG_CONTENTS}" > .kube/config
          kubectl --kubeconfig=.kube/config apply -f deploy/kubernetes.production.yaml
